.section-image.contactus-1(style="background-image:url('img/bg3.jpd');", id="contact")
	.container
		.row
			.col-md-5
				h2.title Get in Touch
				h5.description Get in  touch with us we are friendly people
				.info.info-horizontal
					.icon.icon-info
						i.material-icons pin_drop
					.description
						h4.info-title Find us at the office
						p 5100 W. Commercial Blvd,
							br 
							|Tamarac, FL 33319
				.info.info-horizontal
					.icon.icon-info
						i.material-icons phone
					.description
						h4.info-title Give us a ring
						p 1-800-112-5244
			.col-md-5.col-md-offset-2
				.card.card-contact
					form
						.header.header-raised.header-info.text-center
							h4.card-title Contact Us
						.content
							.row
								.col-md-6
									.form-group.label-floating.is-empty
										label.control-label First Name
										input.form-control(type="text", name="name")
										span.material-input
								.col-md-6
									.form-group.label-floating.is-empty
										label.control-label Last Name
										input.form-control(type="text", name="name")
										span.material-input
							.form-group.label-floating.is-empty
								label.control-label Email Address
								input.form-control(type="email")
								span.material-input
							.form-group.label-floating.is-empty
								label.control-label Your message
								textarea.form-control(rows="6")
								span.material-input
							.row
								.col-md-12
									button.btn.btn-primary.pull-right Send Message