.subscribe-line.subscribe-line-image(style="background-image:url('img/bg2.jpg')")
	.container
		.row
			.col-md-6.col-md-offset-3
				.text-center
					h3.title Get it today!
					p.description Short bit of convincing information why they should get it today
					a.btn.btn-round.btn-danger.btn-wd(href="/")
						i.fa.fa-cart
						|&nbsp;&nbsp;Get Now!