.page-header.header-filter(data-parallax="active", filter-color="", style="background-image:url('img/bg1.jpg');")
	.container
		.row.title-row			
			.col-md-8
				h1.title Get More Customers Without Any Effort!
				h4 This is a brief area to add more text. It will consits of a little bit more information that makes them want to sign up RIGHT NOW!
				br
				a.btn.btn-danger.btn-raised.btn-lg(href="http://youtube.com")
					i.fa.fa-play
					|&nbsp;&nbsp; Watch Video
			.col-md-4
				p Here I will add pictures of notifications
