.features.text-center
	.row
		.col-md-4
			.info
				.icon.icon-info
					i.material-icons
				h4.info-title 24/7 Support
				p Phone support by phone, email, and even text message! Include more information here so that they know they will be supported
		.col-md-4
			.info
				.icon.icon-info
					i.material-icons
				h4.info-title Low cost makerting
				p Works fast no matter what you're logged in on! Always reliable, and sends customers to your door baby!
		.col-md-4
			.info
				.icon.icon-info
					i.material-icons
				h4.info-title Effortless Marketing
				p You get to get people you have not put any effort into trying to get. They come to your door while you just prepare quotes for them!