.section.section-gray
	.container
		.pricing-2
			.row
				.col-md-4
					.card.card-pricing.card-plain
						.content
							.category.text-info Limited Time
							h1.card-title
								small $
								|150
								small .00