.section.section-gray(id="pricing")
	.container
		.pricing-2
			.row
				.col-md-4
					.card.card-pricing.card-plain
						.content
							.category.text-info Limited Time
							h1.card-title
								small $
								|150
								small .00
							ul
								li
									b 1
									|&nbsp; Thing to say
								li
									b 5
									|&nbsp; County/teritory
								li
									b 150
									|&nbsp; More things
							a.btn.btn-raised.btn-danger.btn-round(href='/') Get Started
				.col-md-4
					.card.card-pricing.card-raised
						.content
							.category.text-info Limited Time
							h1.card-title
								small $
								|150
								small .00
							ul
								li
									b 1
									|&nbsp; Thing to say
								li
									b 5
									|&nbsp; County/teritory
								li
									b 150
									|&nbsp; More things
							a.btn.btn-raised.btn-danger.btn-round(href='/') Get Started
				.col-md-4
					.card.card-pricing.card-plain
						.content
							.category.text-info Limited Time
							h1.card-title
								small $
								|150
								small .00
							ul
								li
									b 1
									|&nbsp; Thing to say
								li
									b 5
									|&nbsp; County/teritory
								li
									b 150
									|&nbsp; More things
							a.btn.btn-raised.btn-danger.btn-round(href='/') Get Started