.section.section-gray(id="pricing")
	.container
		.pricing-2
			.row
				.col-md-6
					h2.title Section Title
					p.description Section description
					hr
					p Talking about a whole lot more things. Just to let thmem know what kind of things that they are signing up for.
				.col-md-3
					.card.card-pricing.card-raised
						.content
							.category.text-info Limited Time
							h1.card-title
								small $
								|150
								small .00
							ul
								li
									b 1
									|&nbsp; Thing to say
								li
									b 5
									|&nbsp; County/teritory
								li
									b 150
									|&nbsp; More things
							a.btn.btn-raised.btn-danger.btn-round(href='/') Get Started
				.col-md-3
					.card.card-pricing.card-plain
						.content
							.category.text-info Limited Time
							h1.card-title
								small $
								|395
								small .00
							ul
								li
									b 1
									|&nbsp; Thing to say
								li
									b 5
									|&nbsp; County/teritory
								li
									b 150
									|&nbsp; More things
							a.btn.btn-raised.btn-danger.btn-round(href='/') Get Started