footer.footer
	.container
		nav.pull-left
			ul
				li
					a(href="/") Home
				li
					a(href="/about") About
				li
					a(href="/privacy") Privacy
		.copyright.pull-right &copy;&nbsp;&nbsp;CopyRight&nbsp;
			script.
				document.write(new Date().getFullYear())
			|,&nbsp;
			strong ADVENT SOFTWARE

