nav.navbar.navbar-transparent.navbar-fixed-top.navbar-color-on-scroll
	.container
		.navbar-header
			button.navbar-toggle(data-toggle="collapse", type="button", data-target="#mainNavigation")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand.title(href="/") MORE TAX LEADS!
		.collapse.navbar-collapse(id="mainNavigation")
			ul.nav.navbar-nav.navbar-right
				li
					a(href="#overview") 
						i.fa.fa-info
						|&nbsp;&nbsp;Overview
				li
					a(href="#features") 
						i.fa.fa-th-list
						|&nbsp;&nbsp;Features				
				li
					a(href="#pricing") 
						i.fa.fa-usd
						|&nbsp;&nbsp;Pricing
				li
					a(href="#contact") 
						i.fa.fa-envelope
						|&nbsp;&nbsp;Contact
				li
					a.btn.btn-white.btn-wd.btn-round(href="/") 
						i.fa.fa-pencil
						|&nbsp;&nbsp; SIGN UP