script(src="vendor/jquery/dist/jquery.min.js")
script(src="vendor/bootstrap/dist/js/bootstrap.min.js")
script(src="vendor/bootstrap/dist/js/material.min.js")
script(src="vendor/nouislider/distribute/nouislider.js")
script(src="vendor/bootstrap/dist/js/bootstrap-datepicker.js")
script(src="js/jquery.dropdown.js")
script(src="js/jquery.tagsinput.js")
script(src="js/jasny-bootstrap.min.js")
script(src="js/jquery.flexisel.js")
script(src="vendor/bootstrap/dist/js/material-kit.js")
script(src="//static.getclicky.com/js", type="text/javascript")
script.
	try{ clicky.init(100982092); }catch(e){}
script(src="js/custom.js")